/*Bedssi Styles*/
/***GRAL***/
body {
  font-family: 'Source Sans Pro', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
/*index2*/
.logo ul {
  padding: 0;
  text-align: center;
}
.logo li {
  list-style: none;
  display: inline-block !important;
}
.left-menu .btn-bedssi-white {
  margin-top: 20px;
}
.left-menu .input-group {
  position: relative;
  top: 10px;
}
.top-bar {
  min-height: 70px;
}
.comments {
  position: relative;
}
.comments .bg-bedssi-profile-gray {
  padding: 2px 4px;
}
.comments i {
  font-size: 30px !important;
  padding: 0;
  color: #ff3e30;
}
.comments a:hover {
  text-decoration: none;
}
.comments .notification {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  color: #ffffff;
  font-size: 14px;
}
.comments:hover i {
  color: #ffffff;
}
.comments:hover .notification {
  color: #49ba4a;
}
.navbar-toggle {
  background: #ffffff;
  border: 1px solid #e2e2e3;
  color: #42454a;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 6px 12px;
  margin-top: 20px;
}
.navbar-toggle:hover {
  background: #ff3e30;
  border: 1px solid #ff3e30;
  color: #ffffff;
}
#navbar-brand-centered form {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 10px 70px;
}
.navbar-brand-centered {
  position: absolute;
  left: 50%;
  top: -10px;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
}
.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
  margin-left: -80px;
}
/*Colors*/
.facebook-bg {
  background: #173d8b;
}
.twitter-bg {
  background: #4fc5f7;
}
.google-plus-bg {
  background: #e64c66;
}
.pinterest-bg {
  background: #df2e35;
}
.linkedin-bg {
  background: #2187c5;
}
.youtube-bg {
  background: #ce281c;
}
.dark-black {
  background: #42454a;
  color: #ffffff;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
.dark-black-40 {
  background: #afb0b3;
  color: #2b2e34;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
.blue-bg {
  background: #3995d1;
  color: #ffffff;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
.green-bg {
  background: #49ba4a;
  color: #2b2e34;
}
.panel-black {
  border-color: #afb0b3;
}
.panel-black .panel-heading {
  background: #42454a;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.panel-black .panel-title {
  font-size: 14px;
}
.panel-black .table {
  margin-bottom: 0;
}
.panel-black .table td,
.panel-black .table tr {
  vertical-align: middle;
  border: none;
}
.well-blue {
  background: #d0eaff;
}
.top-30 {
  margin-top: 30px;
}
/*Mixins*/
.border-radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.border-radius-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.black-transparency-80 {
  background-color: rgba(65, 69, 73, 0.8);
  background: rgba(65, 69, 73, 0.8);
}
.black-gradient-white {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.89)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.bold {
  font-weight: bold;
}
.text-green {
  color: #49ba4a !important;
}
.text-red {
  color: #ff3e30;
}
#header .top-bar {
  position: fixed;
  z-index: 99999;
  background: #ffffff;
}
#header .search {
  text-align: left;
  margin-top: -40px;
}
#header .logo img {
  display: block;
  margin: 0 auto;
}
#header .main-menu {
  float: right;
  margin-left: 90%;
}
#header .registration {
  float: right;
  text-align: right;
  position: relative;
  top: 20px;
}
#header .registration ul {
  padding: 0;
}
#header .registration li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  line-height: 22px;
  margin: 0 5px;
}
#header .registration a {
  color: #2b2e34;
  font-weight: bold;
}
#header .registration .profile a {
  color: #ffffff;
}
#header .registration i {
  font-size: 16px;
}
#header .registration .notifications {
  background: #ff3e30;
}
#header .register {
  text-align: right;
  margin-top: -40px;
  margin-bottom: 0 !important;
  /*margin-right:10%;*/
}
#header .register ul {
  padding: 0;
}
#header .register li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  line-height: 22px;
  margin: 0 5px;
}
#header .register a {
  color: #2b2e34;
  font-weight: bold;
}
#header .register .profile a {
  color: #ffffff;
}
#header .register i {
  font-size: 16px;
}
#header .register .notifications {
  background: #ff3e30;
}
#header .add_bed a {
  color: #ffffff;
}
#header .add_bed .btn-bedssi-red:hover i {
  color: #49ba4a;
}
#intro {
  background: url(../img/home2.jpg) no-repeat 10% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 570px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /*margin-top:70px;*/
  padding: 50px 0;
}
#intro .main_search {
  margin-top: 40%;
  padding-bottom: 5px;
  position: relative;
  background-color: rgba(65, 69, 73, 0.8);
  background: rgba(65, 69, 73, 0.8);
}
#intro .main_search h1 {
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  font-size: 55px;
}
#intro .main_search input {
  width: 90%;
  margin: 0 auto;
}
#intro .main_search .date ul {
  padding: 0;
  text-align: center;
}
#intro .main_search .date li {
  list-style: none;
  display: inline-block;
  width: 47%;
}
#intro .main_search .btn-block {
  width: 90%;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
#intro .main_search .btn-block i {
  padding: 0 5px;
}
#intro .main_search .btn-block:hover i {
  color: #ffffff;
}
#intro .main_search:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  border-color: rgba(65, 69, 73, 0.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
}
#intro .left-inner-addon {
  position: relative;
}
#intro .left-inner-addon input {
  padding-left: 30px;
  /*width:80%;*/
}
#intro .left-inner-addon i {
  position: absolute;
  padding: 10px 20px;
  pointer-events: none;
}
#intro .right-inner-addon {
  position: relative;
}
#intro .right-inner-addon input {
  padding-right: 30px;
  /*width:80%;*/
}
#intro .right-inner-addon i {
  position: absolute;
  right: 10px;
  padding: 10px 20px;
  pointer-events: none;
  color: #ff3e30;
}
#intro .intro-title h2 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 2px #000000;
}
#intro .intro-title h3,
#intro .intro-title h4 {
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 2px #000000;
}
#intro .search-home {
  width: 40%;
  margin: 0 auto;
}
#login,
#login_back {
  position: relative;
  background: #FFF;
  /*margin-top: 70px;*/
}
#login .signup_header,
#login_back .signup_header {
  text-align: center;
}
#login .signup_header .btn-facebook,
#login_back .signup_header .btn-facebook {
  color: #ffffff;
}
#login .signup_header .bootstrap-select,
#login_back .signup_header .bootstrap-select {
  width: 100%;
}
#login .signup_header a:hover,
#login_back .signup_header a:hover {
  text-decoration: none;
}
#login .signup,
#login_back .signup {
  background: #ffffff;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#login .signup h2,
#login_back .signup h2 {
  font-size: 21px;
  font-weight: 700;
}
#login .signup .btn-facebook,
#login_back .signup .btn-facebook {
  font-size: 16px;
}
#login .signup .btn-facebook a,
#login_back .signup .btn-facebook a {
  color: #ffffff !important;
}
#login .signup .btn-facebook i,
#login_back .signup .btn-facebook i {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
#login .signup h3,
#login_back .signup h3 {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #b0afb5;
  padding: 0 10px;
}
#login .signup h3:before,
#login_back .signup h3:before,
#login .signup h3:after,
#login_back .signup h3:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  margin-left: 5%;
  width: 30%;
  height: 1px;
  content: '\a0';
  background-color: #b0afb5;
}
#login .signup h3:before,
#login_back .signup h3:before {
  margin-left: -35%;
  text-align: right;
}
#login .signup .color,
#login_back .signup .color {
  background-color: #ccc;
}
#login .signup input,
#login_back .signup input {
  margin-left: 15px;
  width: 90%;
}
#login .signup .agreement,
#login_back .signup .agreement {
  padding: 0 5px;
  text-align: center;
}
#login .signup .agreement a,
#login_back .signup .agreement a {
  color: #ff3e30 !important;
}
#login .signup .sign_up_bottom_options,
#login_back .signup .sign_up_bottom_options {
  text-align: left;
}
#login .signup .sign_up_bottom_options label,
#login_back .signup .sign_up_bottom_options label {
  font-weight: 600;
}
#login .checkbox,
#login_back .checkbox {
  padding: 0 35px;
}
#login p a,
#login_back p a {
  color: #ff3e30;
}
#login .user_fields,
#login_back .user_fields,
#login .organisation_fields,
#login_back .organisation_fields,
#login .institution_fields,
#login_back .institution_fields {
  display: none;
}
#login .user_fields input,
#login_back .user_fields input,
#login .organisation_fields input,
#login_back .organisation_fields input,
#login .institution_fields input,
#login_back .institution_fields input {
  margin-left: 15px;
  width: 90%;
}
#login .user_fields .bootstrap-select,
#login_back .user_fields .bootstrap-select,
#login .organisation_fields .bootstrap-select,
#login_back .organisation_fields .bootstrap-select,
#login .institution_fields .bootstrap-select,
#login_back .institution_fields .bootstrap-select {
  width: 90%;
  display: table;
  margin-left: 15px;
}
#login .bootstrap-select,
#login_back .bootstrap-select {
  color: #2b2e34;
}
#login .bootstrap-select .caret,
#login_back .bootstrap-select .caret {
  color: #ff3e30;
}
#login .learn_more a:hover,
#login_back .learn_more a:hover {
  text-decoration: none;
}
#login .passwords,
#login_back .passwords {
  padding: 0;
  text-align: left;
}
#login .passwords li,
#login_back .passwords li {
  list-style: none;
  display: inline-block;
  width: 47%;
  margin: 0 !important;
}
#learn_popup {
  display: none;
}
#learn_popup a:hover {
  text-decoration: none;
}
#main {
  background: #d0eaff;
}
#main .service-box {
  padding: 10px;
  margin: 20px 0;
  text-align: center;
}
#main .service-box h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
#main .service-box h2 span {
  font-size: 16px;
}
#main .service-box i {
  color: #3995d1;
  font-size: 42px;
}
#main .service-box .read-more-red {
  color: #ff3e30;
  font-weight: 600;
}
#main .service-box .read-more-red a {
  color: #ff3e30;
}
#main .service-box:hover {
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffffff;
  -moz-box-shadow: inset 0px 0px 0px 2px #ffffff;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#main .service-box:hover i {
  color: #ff3e30;
}
/*Page Results*/
#grid-results .mix {
  display: none;
}
.list-results li {
  margin: 0 auto;
}
.list-results li .box-result {
  margin: 0 auto !important;
}
#user_profile .host-buttons {
  margin-top: 5px;
}
#user_profile .host-buttons ul {
  padding: 0;
}
#user_profile .host-buttons li {
  list-style: none;
  display: inline-block;
  margin: 5px 0;
}
#results,
#user_profile,
#post_bed,
#contact,
#help {
  background: #d0eaff;
  margin-top: 65px;
  padding-bottom: 30px;
  overflow: hidden;
}
#results .list-view,
#user_profile .list-view,
#post_bed .list-view,
#contact .list-view,
#help .list-view {
  margin-top: 50px;
}
#results .list-view h2,
#user_profile .list-view h2,
#post_bed .list-view h2,
#contact .list-view h2,
#help .list-view h2 {
  margin-left: 20px;
}
#results .list-results,
#user_profile .list-results,
#post_bed .list-results,
#contact .list-results,
#help .list-results {
  padding: 0 5px;
}
#results .list-results ul,
#user_profile .list-results ul,
#post_bed .list-results ul,
#contact .list-results ul,
#help .list-results ul {
  padding: 0;
  text-align: center;
}
#results .list-results li,
#user_profile .list-results li,
#post_bed .list-results li,
#contact .list-results li,
#help .list-results li {
  list-style: none;
  padding: 0 5px 5px 0;
}
#results .bed-name,
#user_profile .bed-name,
#post_bed .bed-name,
#contact .bed-name,
#help .bed-name,
#results .user-name,
#user_profile .user-name,
#post_bed .user-name,
#contact .user-name,
#help .user-name {
  font-weight: bold;
}
#results .bed-name .urgent,
#user_profile .bed-name .urgent,
#post_bed .bed-name .urgent,
#contact .bed-name .urgent,
#help .bed-name .urgent,
#results .user-name .urgent,
#user_profile .user-name .urgent,
#post_bed .user-name .urgent,
#contact .user-name .urgent,
#help .user-name .urgent {
  color: #49ba4a;
}
#results .top-icons,
#user_profile .top-icons,
#post_bed .top-icons,
#contact .top-icons,
#help .top-icons {
  margin-top: 20px;
}
#results .box-result,
#user_profile .box-result,
#post_bed .box-result,
#contact .box-result,
#help .box-result {
  background: #ffffff;
  /*padding:5px;*/
  margin: 0 5px 5px 0;
  overflow: hidden;
  display: table;
  text-align: left;
}
#results .box-result .bed-description,
#user_profile .box-result .bed-description,
#post_bed .box-result .bed-description,
#contact .box-result .bed-description,
#help .box-result .bed-description {
  padding-left: 5px;
}
#results .box-result .bed-image,
#user_profile .box-result .bed-image,
#post_bed .box-result .bed-image,
#contact .box-result .bed-image,
#help .box-result .bed-image {
  position: relative;
}
#results .box-result .bed-image img,
#user_profile .box-result .bed-image img,
#post_bed .box-result .bed-image img,
#contact .box-result .bed-image img,
#help .box-result .bed-image img {
  max-width: 100%;
  /*margin:5px;*/
}
#results .box-result .bed-image a,
#user_profile .box-result .bed-image a,
#post_bed .box-result .bed-image a,
#contact .box-result .bed-image a,
#help .box-result .bed-image a {
  color: #ffffff;
}
#results .box-result .bed-image .bed-title,
#user_profile .box-result .bed-image .bed-title,
#post_bed .box-result .bed-image .bed-title,
#contact .box-result .bed-image .bed-title,
#help .box-result .bed-image .bed-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  padding: 2px;
  color: #ffffff;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.89)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  font-size: 16px;
  font-weight: bold;
}
#results .box-result .bed-image .urgent-price,
#user_profile .box-result .bed-image .urgent-price,
#post_bed .box-result .bed-image .urgent-price,
#contact .box-result .bed-image .urgent-price,
#help .box-result .bed-image .urgent-price {
  position: absolute;
  bottom: 10px;
  margin-left: 15px;
}
#results .box-result .bed-image .urgent-price i,
#user_profile .box-result .bed-image .urgent-price i,
#post_bed .box-result .bed-image .urgent-price i,
#contact .box-result .bed-image .urgent-price i,
#help .box-result .bed-image .urgent-price i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #ffffff;
  background: #49ba4a;
  text-align: center;
  font-size: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#results .box-result .bed-rate i,
#user_profile .box-result .bed-rate i,
#post_bed .box-result .bed-rate i,
#contact .box-result .bed-rate i,
#help .box-result .bed-rate i {
  font-size: 12px;
}
#results .box-result .bed-detail,
#user_profile .box-result .bed-detail,
#post_bed .box-result .bed-detail,
#contact .box-result .bed-detail,
#help .box-result .bed-detail {
  clear: both;
}
#results .box-result .bed-info,
#user_profile .box-result .bed-info,
#post_bed .box-result .bed-info,
#contact .box-result .bed-info,
#help .box-result .bed-info {
  float: left;
  line-height: 15px;
}
#results .box-result .bed-info ul,
#user_profile .box-result .bed-info ul,
#post_bed .box-result .bed-info ul,
#contact .box-result .bed-info ul,
#help .box-result .bed-info ul {
  padding: 0;
}
#results .box-result .bed-info li,
#user_profile .box-result .bed-info li,
#post_bed .box-result .bed-info li,
#contact .box-result .bed-info li,
#help .box-result .bed-info li {
  padding: 0;
  text-align: left;
}
#results .box-result .bed-info .bed-price,
#user_profile .box-result .bed-info .bed-price,
#post_bed .box-result .bed-info .bed-price,
#contact .box-result .bed-info .bed-price,
#help .box-result .bed-info .bed-price {
  font-weight: bold;
}
#results .box-result .bed-info .bed-hoster span,
#user_profile .box-result .bed-info .bed-hoster span,
#post_bed .box-result .bed-info .bed-hoster span,
#contact .box-result .bed-info .bed-hoster span,
#help .box-result .bed-info .bed-hoster span {
  font-weight: bold;
}
#results .box-result .bed-action,
#user_profile .box-result .bed-action,
#post_bed .box-result .bed-action,
#contact .box-result .bed-action,
#help .box-result .bed-action {
  clear: both;
}
#results .box-result .bed-action ul,
#user_profile .box-result .bed-action ul,
#post_bed .box-result .bed-action ul,
#contact .box-result .bed-action ul,
#help .box-result .bed-action ul {
  padding: 0;
  padding-top: 10px;
  text-align: center;
}
#results .box-result .bed-action li,
#user_profile .box-result .bed-action li,
#post_bed .box-result .bed-action li,
#contact .box-result .bed-action li,
#help .box-result .bed-action li {
  list-style: none;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 18px;
}
#results .box-result .bed-action i:hover,
#user_profile .box-result .bed-action i:hover,
#post_bed .box-result .bed-action i:hover,
#contact .box-result .bed-action i:hover,
#help .box-result .bed-action i:hover {
  color: #ff3e30;
}
#results .box-result .bed-action .favorite,
#user_profile .box-result .bed-action .favorite,
#post_bed .box-result .bed-action .favorite,
#contact .box-result .bed-action .favorite,
#help .box-result .bed-action .favorite,
#results .box-result .bed-action .share,
#user_profile .box-result .bed-action .share,
#post_bed .box-result .bed-action .share,
#contact .box-result .bed-action .share,
#help .box-result .bed-action .share {
  color: #ff3e30 !important;
}
#results .box-result .bed-action .favorite:hover i,
#user_profile .box-result .bed-action .favorite:hover i,
#post_bed .box-result .bed-action .favorite:hover i,
#contact .box-result .bed-action .favorite:hover i,
#help .box-result .bed-action .favorite:hover i,
#results .box-result .bed-action .share:hover i,
#user_profile .box-result .bed-action .share:hover i,
#post_bed .box-result .bed-action .share:hover i,
#contact .box-result .bed-action .share:hover i,
#help .box-result .bed-action .share:hover i {
  color: #e00000;
}
#results .box-result .bed-action .verified,
#user_profile .box-result .bed-action .verified,
#post_bed .box-result .bed-action .verified,
#contact .box-result .bed-action .verified,
#help .box-result .bed-action .verified {
  color: #49ba4a;
}
#results .box-result .bed-action .verified:hover i,
#user_profile .box-result .bed-action .verified:hover i,
#post_bed .box-result .bed-action .verified:hover i,
#contact .box-result .bed-action .verified:hover i,
#help .box-result .bed-action .verified:hover i {
  color: #007932;
}
#results .box-result:hover,
#user_profile .box-result:hover,
#post_bed .box-result:hover,
#contact .box-result:hover,
#help .box-result:hover {
  -webkit-box-shadow: 0px 0px 5px 0px #a0a2a3;
  -moz-box-shadow: 0px 0px 5px 0px #a0a2a3;
  box-shadow: 0px 0px 5px 0px #a0a2a3;
}
.new_filter {
  background: #e2e2e3;
  /*margin-top:70px;*/
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;
}
.new_filter .filter-buttons {
  text-align: center;
  padding: 0;
}
.new_filter .filter-buttons li {
  list-style: none;
  display: inline-block;
  margin: 0 3px;
}
.new_filter .filter-buttons li button {
  padding: 7px 8px;
}
.new_filter .filter-buttons .active {
  background: #42454a;
  color: #ffffff;
}
.new_filter .left-filters,
.new_filter .center-filters,
.new_filter .right-filters {
  padding: 7px 0!important;
}
.new_filter .left-filters ul {
  padding: 0;
}
.new_filter .left-filters li {
  list-style: none;
}
.new_filter .center-filters ul {
  text-align: center !important;
}
.new_filter .center-filters li {
  display: inline-block;
  margin: 0  5px;
}
.new_filter .right-filters {
  text-align: right;
  margin-right: 30px;
}
.new_filter .right-filters ul {
  text-align: right;
}
.new_filter .right-filters li {
  display: inline-block;
}
.new_filter .vertical-filter .filter-buttons li {
  display: block;
  clear: both;
  margin: 5px;
  width: 100%;
}
.new_filter .left-inner-addon {
  position: relative;
}
.new_filter .left-inner-addon input {
  padding-left: 30px;
  width: 80%;
}
.new_filter .left-inner-addon i {
  position: absolute;
  padding: 10px 20px;
  pointer-events: none;
}
.new_filter .right-inner-addon {
  position: relative;
}
.new_filter .right-inner-addon input {
  padding-right: 30px;
  width: 100%;
}
.new_filter .right-inner-addon i {
  position: absolute;
  right: 10px;
  padding: 10px 0;
  pointer-events: none;
}
.new_filter .navbar {
  margin: 0px !important;
}
.right-rail {
  margin-top: 60px;
}
.right-rail .order input {
  width: 50%;
}
.about_me .panel-heading .panel-title {
  line-height: 2em;
}
.about_me .panel-heading .report {
  color: #ff3e30;
}
.about_me .report:hover {
  background: #ff3e30;
  color: #ffffff !important;
}
.horizontal-filter {
  background: #e2e2e3;
  padding: 10px;
  /*li{
		list-style:none;
		display:inline-block;
	}*/
  /*input{
		padding:10px;
	}*/
  /*.dropdown-toggle{
		padding:10px 20px !important;
	}*/
}
.horizontal-filter .navbar {
  padding: 0;
  min-height: inherit;
  margin-bottom: 0;
}
.horizontal-filter ul {
  padding: 0;
}
.horizontal-filter .left-inner-addon {
  position: relative;
}
.horizontal-filter .left-inner-addon input {
  padding-left: 30px;
  width: 80%;
}
.horizontal-filter .left-inner-addon i {
  position: absolute;
  padding: 10px 20px;
  pointer-events: none;
}
.horizontal-filter .right-inner-addon {
  position: relative;
}
.horizontal-filter .right-inner-addon input {
  padding-right: 30px;
  width: 100%;
}
.horizontal-filter .right-inner-addon i {
  position: absolute;
  right: 10px;
  padding: 10px 0;
  pointer-events: none;
}
.horizontal-filter .form-control {
  height: auto;
}
.horizontal-filter .filter_module {
  margin: 0 auto;
}
.horizontal-filter .filter_module li {
  margin: 0 2px;
}
.horizontal-filter .filter_module .active {
  background: #42454a;
  color: #ffffff;
}
.horizontal-filter .filter_module button {
  padding: 10px;
}
.horizontal-filter .search-view {
  margin-right: 10px !important;
}
.horizontal-filter .search-view button {
  padding: 10px;
}
.horizontal-filter .filter-dates {
  text-align: right;
}
.horizontal-filter .filter-dates ul {
  padding: 0;
  margin: 0;
}
.horizontal-filter .filter-dates li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
#fullsized-map {
  height: 600px;
  width: 100%;
}
.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}
.margin-ten {
  margin: 0 10px;
}
.margin-right-ten {
  margin-right: 10px;
}
.btn-filter {
  background: #ffffff;
  padding: 6px !important;
  text-align: center;
  border: 1px solid #d1d1d1;
  color: #2b2e34;
}
.filters {
  background: #e2e2e3;
  border: 1px solid #afb0b3;
  padding: 10px;
}
.filters .filter-buttons span {
  font-size: 14px;
  font-weight: 600;
}
.filters .filter-buttons ul {
  padding: 0;
}
.filters .filter-buttons li {
  list-style: none;
  margin: 0 0 5px;
}
.filters .filter_module {
  padding: 5px 0;
}
.filters .filter_module .active {
  background: #42454a;
  color: #ffffff;
}
.filters .input-daterange ul {
  padding: 0;
}
.filters .input-daterange li {
  list-style: none;
  display: inline-block;
}
.filters .left-inner-addon {
  position: relative;
}
.filters .left-inner-addon input {
  padding-left: 30px;
  width: 80%;
}
.filters .left-inner-addon i {
  position: absolute;
  padding: 10px 20px;
  pointer-events: none;
}
.filters .right-inner-addon {
  position: relative;
}
.filters .right-inner-addon input {
  padding-right: 30px;
  width: 100%;
}
.filters .right-inner-addon i {
  position: absolute;
  right: 10px;
  padding: 10px 0;
  pointer-events: none;
}
.map {
  margin: 10px 0;
}
.right-modules .side-module {
  background: #ffffff;
  border: 1px solid #e2e2e3;
  padding: 20px 5px;
  margin: 5px 0;
  text-align: center;
}
.adds .add-module {
  background: #f5f5f5;
  border: 1px solid #e2e2e3;
  padding: 20px 5px;
  margin: 5px 0;
  text-align: center;
}
/*User profile */
.user .user-slider {
  margin: 5px 0;
  background: #ffffff;
}
.user .host-buttons ul {
  padding: 0;
  margin: 20px 10px;
  text-align: center;
}
.user .host-buttons li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  margin: 0 2px;
}
.user .host-buttons i {
  font-size: 16px;
  vertical-align: middle;
}
.user .user-slider .owl-nav {
  position: absolute;
  text-align: right;
  top: 40%;
  width: 100%;
}
.user .user-slider .owl-nav .owl-prev {
  float: left;
}
.user .user-slider .owl-nav .owl-prev,
.user .user-slider .owl-nav .owl-next {
  background: none !important;
  color: #ff3e30 !important;
  font-size: 36px !important;
}
.user .user-slider .owl-nav .owl-prev:after {
  font-family: FontAwesome;
  content: "\f053";
}
.user .user-slider .owl-nav .owl-next:after {
  font-family: FontAwesome;
  content: "\f054";
}
.user .user-slider .user-slide {
  position: relative;
}
.user .user-slider .user-slide .bed-photo-description {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  width: 100%;
  font-size: 16px;
}
.user .user-slider .user-thumbnails {
  text-align: center;
  padding: 0;
}
.user .user-slider .user-thumbnails li {
  list-style: none;
  display: inline-block;
  margin: 10px 5px;
}
.beds_listed .bed_list ul {
  padding: 0;
}
.beds_listed .bed_list li {
  list-style: none;
}
.beds_listed .bed_list .bed_list_item {
  margin: 20px 0;
  background: #ffffff;
  border: 1px solid #e2e2e3;
  clear: both;
  overflow: hidden;
}
.beds_listed .bed_list .bed_list_item a {
  color: #333333;
}
.beds_listed .bed_list .bed_list_item img {
  max-width: 50%;
  padding-right: 10px;
}
.beds_listed .bed_list .bed_list_item .bed_listed_details {
  display: inline-block;
}
.beds_listed .bed_list .bed_list_item .bed_listed_details .bed-title {
  color: #ff3e30;
  font-weight: 600;
}
.beds_listed .bed_list .bed_list_item .bed_listed_details .bed-price {
  font-weight: 600;
  font-size: 16px;
}
.beds_listed .bed_list .bed_list_item:hover {
  background: #f5f5f5;
  cursor: pointer;
}
/*Bed Details*/
.bed-addresss,
.user-address {
  font-weight: bold;
}
.bed-id {
  text-align: right;
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
}
.bed-id span {
  margin: 10px;
}
.bed-id span a {
  color: #ff3e30;
}
.user-ratings {
  text-align: right;
  font-size: 18px;
}
.user-ratings i {
  color: #49ba4a;
  font-size: 24px;
  margin: 0 2px;
}
footer {
  background: #42454a;
  color: #ffffff;
}
footer h3 {
  text-transform: uppercase;
  color: #d0eaff;
  font-weight: 600;
  font-size: 22px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer .language {
  width: 80%;
}
footer .currency {
  width: 80%;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #d0eaff;
}
footer .bootstrap-select .caret {
  color: #ff3e30;
}
.social-media li {
  display: table-cell;
  margin: 0 2px;
}
.social-media img {
  padding: 0 2px;
}
.social-media i {
  padding: 7px;
}
.social-media i:hover {
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.easy-transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*Buttons*/
.btn-bedssi {
  background: #0095f3;
  color: #ffffff;
}
.btn-bedssi-red {
  background: #ff3e30;
  color: #ffffff;
}
.btn-bedssi-approved {
  background: #42454a;
  color: #49ba4a;
}
.approved {
  background: #42454a !important;
  color: #49ba4a !important;
}
.approved:hover {
  background: #42454a !important;
  color: #49ba4a !important;
}
.booked {
  background: #49ba4a !important;
  color: #ffffff !important;
}
.booked:hover {
  background: #49ba4a !important;
  color: #ffffff !important;
}
.bed_requested {
  background: #afb0b3 !important;
  color: #ffffff !important;
}
.rejected {
  background: #ff3e30 !important;
  color: #ffffff !important;
}
.known {
  background: #3995d1 !important;
  color: #ffffff !important;
}
.requested {
  background: #2b2e34 !important;
  color: #ffffff !important;
}
.declined {
  background: #ff3e30 !important;
  color: #ffffff !important;
}
.btn-bedssi-green {
  background: #49ba4a;
  color: #ffffff;
}
.btn-bedssi-gray {
  background: #afb0b3;
  color: #ffffff;
}
.btn-bedssi-gray-15 {
  background: #e2e2e3;
  color: #ffffff;
}
.btn-bedssi-dark-gray {
  background: #42454A;
  color: #ffffff;
}
.btn-bedssi-dark-gray:hover {
  background: #afb0b3 !important;
  color: #ffffff;
}
.bg-bedssi-dark-gray {
  background: #42454A;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}
.bg-bedssi-profile-gray {
  background: #afb0b3;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.bg-bedssi-profile-gray:hover {
  background: #ff3e30;
  color: #ffffff;
}
.btn-bedssi-gray .active {
  background: #42454a;
}
.btn-bedssi-white {
  background: #ffffff;
  border: 1px solid #afb0b3;
  color: #2b2e34;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-bedssi-white:hover {
  background: #ff3e30;
  border: 1px solid #ff3e30;
  color: #ffffff !important;
}
.btn-bedssi-red:hover {
  color: #ffffff;
  background: #e00000;
}
.badge-bedssi-green {
  background: #49ba4a;
  padding: 8px 10px;
  line-height: 1.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  vertical-align: middle;
}
.badge-bedssi-red {
  background: #ff3e30;
  padding: 8px 10px;
  line-height: 1.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  vertical-align: middle;
}
.badge-bedssi-red-circle {
  background: #ff3e30;
  padding: 5px 6px;
  line-height: 1.5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  vertical-align: middle;
  font-size: 12px;
}
.btn-profile {
  background: #afb0b3;
  color: #ffffff;
  text-transform: none;
}
.btn-profile:hover {
  background: #ff3e30;
}
.btn-facebook {
  background: #173d8b;
}
.form-search .btn-bedssi-gray:hover {
  background: #49ba4a;
  color: #ffffff;
}
.shares_facebook {
  background: #1a4f95;
  clear: both;
  height: 30px;
  line-height: 25px;
}
.btn-twitter {
  background: #4fc5f7;
}
.shares_twitter {
  background: #35abdd;
  clear: both;
  height: 30px;
  line-height: 25px;
}
.btn-google {
  background: #e64c66;
}
.shares_google {
  background: #cc324c;
  clear: both;
  height: 30px;
  line-height: 25px;
}
#last_section {
  margin-top: 130px;
  margin-bottom: 160px;
  text-align: center;
}
#last_section h2 {
  font-weight: 600;
}
.error {
  bottom: 100%;
  clear: both;
  color: #990033;
  font-size: 16px;
  left: 0;
  /*position: absolute;*/
}
/*Bed Details*/
.bed {
  background: #ffffff;
  border: 1px solid #e2e2e3;
  margin: 10px 0;
}
.bed .top-bed {
  padding: 5px 0;
}
.bed .top-bed ul {
  padding: 0;
  text-align: center;
}
.bed .top-bed li {
  list-style: none;
  display: inline-block;
}
.bed .top-bed .selected-days {
  margin: 20px 0;
}
.bed h3 {
  font-weight: 600;
  padding: 10px;
  margin: 0;
}
.bed .bed-price-listed {
  color: #49ba4a;
  font-size: 36px;
  margin-left: 10px;
  line-height: 15px;
  font-weight: bold;
}
.bed .bed-price-included {
  color: #b0afb5;
  display: inline;
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}
.reserve-bed-icons {
  text-transform: uppercase;
  margin-right: 10px;
}
.reserve-bed-icons ul {
  padding: 0px 5px;
  text-align: right;
}
.reserve-bed-icons li {
  list-style: none;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
}
.reserve-bed-icons i {
  vertical-align: middle;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.reserve-bed-icons .fa-heart-o:hover {
  font-family: FontAwesome;
  content: "\f023" !important;
}
.reserve-bed-icons a {
  text-decoration: none;
  color: #ffffff;
}
.bed-slider {
  /*img{
		width:inherit !important;
		margin:0 auto;
		display:block;
	}*/
}
.bed-slider .owl-prev {
  position: absolute;
  top: 40%;
  left: 0;
}
.bed-slider .owl-next {
  position: absolute;
  top: 40%;
  right: 0;
}
.bed-slider .owl-prev,
.bed-slider .owl-next {
  background: none !important;
  color: #ff3e30 !important;
  font-size: 36px !important;
}
.bed-slider .owl-prev:after {
  font-family: FontAwesome;
  content: "\f053";
}
.bed-slider .owl-next:after {
  font-family: FontAwesome;
  content: "\f054";
}
.bed-slider .owl-nav {
  /*position: absolute;
		text-align: right;
		top: 40%;
		width: 100%;*/
}
.bed-slider .bed-slide {
  position: relative;
}
.bed-slider .bed-slide .bed-photo-description {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  width: 100%;
  font-size: 16px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.89)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e3000000', GradientType=0);
  /* IE6-9 */
}
.bed-slider .bed-thumbnails {
  text-align: center;
  padding: 0;
}
.bed-slider .bed-thumbnails li {
  list-style: none;
  display: inline-block;
  margin: 2px 5px;
}
.learn_more {
  font-style: italic;
  color: #ff3e30;
  font-size: 12px;
  cursor: pointer;
}
.learn_more a {
  font-style: italic;
  color: #ff3e30;
  font-size: 12px;
}
.bed-full-description,
.user-academic-info {
  background: #ffffff;
  padding: 20px;
}
.bed-full-description h4,
.user-academic-info h4 {
  background: #afb0b3;
  padding: 5px;
  color: #ffffff;
  text-transform: uppercase;
}
.bed-full-description .learn_more,
.user-academic-info .learn_more {
  font-style: italic;
  color: #ff3e30;
  font-size: 12px;
}
.bed-full-description .learn_more a,
.user-academic-info .learn_more a {
  font-style: italic;
  color: #ff3e30;
  font-size: 12px;
}
.bed-full-description .room-includes,
.user-academic-info .room-includes,
.bed-full-description .building-services,
.user-academic-info .building-services,
.bed-full-description .verifications,
.user-academic-info .verifications,
.bed-full-description .institutions,
.user-academic-info .institutions {
  padding: 0;
  margin: 0;
}
.bed-full-description .room-includes li,
.user-academic-info .room-includes li,
.bed-full-description .building-services li,
.user-academic-info .building-services li,
.bed-full-description .verifications li,
.user-academic-info .verifications li,
.bed-full-description .institutions li,
.user-academic-info .institutions li {
  list-style: none;
  display: inline;
  margin: 0 2px;
}
.bed-full-description .room-includes li:before,
.user-academic-info .room-includes li:before,
.bed-full-description .building-services li:before,
.user-academic-info .building-services li:before,
.bed-full-description .verifications li:before,
.user-academic-info .verifications li:before,
.bed-full-description .institutions li:before,
.user-academic-info .institutions li:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #49ba4a;
}
.bed-full-description .house-rules,
.user-academic-info .house-rules {
  padding: 0;
  margin: 0;
}
.bed-full-description .house-rules li,
.user-academic-info .house-rules li {
  list-style: none;
  display: inline;
  margin: 0 2px;
}
.bed-full-description .house-rules li:before,
.user-academic-info .house-rules li:before {
  font-family: FontAwesome;
  content: "\f057";
  color: #ff3e30;
  margin-right: 2px;
}
.bed-full-description .report,
.user-academic-info .report {
  /*margin-top:-10px;*/
}
.bed-full-description .report i,
.user-academic-info .report i {
  color: #ff3e30;
  background: #e2e2e3;
}
.bed-full-description .report a,
.user-academic-info .report a {
  color: #ff3e30;
}
.bed-full-description .report .btn,
.user-academic-info .report .btn {
  border: 1px solid #ff3e30;
}
.bed-full-description .label-head,
.user-academic-info .label-head {
  width: 35%;
}
.selected-days {
  background: url(../img/portfolio18.png) no-repeat;
  width: 32px;
  height: 32px;
  text-align: center;
}
.selected-days .total-days-selection {
  color: #ffffff;
  text-align: center;
  width: 100%;
  line-height: 33px;
  font-weight: bold;
}
.selected-days .total-days-selection:after {
  display: table;
  content: "Nights";
  color: #2b2e34;
  margin-top: 0px;
  text-align: center;
  line-height: 10px;
}
.suggested-beds {
  margin: 10px 0;
}
.suggested-beds .suggested {
  padding: 0;
  text-align: center;
}
.suggested-beds .suggested li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.suggested-beds .bed-suggested-title {
  color: #FF4A44;
}
.suggested-beds span {
  clear: both;
  display: table;
}
.suggested-beds a {
  text-decoration: none;
  color: #42454a;
}
.side-bar .filter-map {
  margin: 10px 0;
  background: #ffffff;
  border: 1px solid #e2e2e3;
}
.side-bar .filter-map .filter {
  background: #ffffff;
  padding: 5px;
  overflow: hidden;
  font-weight: 600;
}
.side-bar .filter-map .filter .filter-dates {
  text-align: center !important;
  margin-top: 13px;
}
.side-bar .filter-map .filter .filter-dates label {
  font-weight: 600;
}
.side-bar .filter-map .map {
  margin: 0;
}
.side-bar .reserve-bed-icons {
  margin: 10px 0;
}
.side-bar .reserve-bed-icons ul {
  text-align: right;
}
.side-bar .reviews-link {
  text-transform: none;
}
.side-bar .reviews-link a {
  color: #ff3e30 !important;
}
.hoster-side-bar .hoster-photo img {
  margin: 0 auto;
  display: block;
}
.hoster-side-bar .hoster-top-legends ul {
  padding: 0;
  margin: 5px 0;
  text-align: right;
}
.hoster-side-bar .hoster-top-legends li {
  list-style: none;
  display: inline-block;
}
.hoster-side-bar .hoster-top-legends .first-child {
  margin-right: 40px;
}
.hoster-side-bar .panel-body {
  padding: 0;
}
.hoster-side-bar .host-buttons ul {
  padding: 0;
  margin: 5px 0;
  text-align: center;
}
.hoster-side-bar .host-buttons li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  margin: 0 2px;
  width: 45%;
}
.hoster-side-bar .host-buttons i {
  font-size: 16px;
  vertical-align: middle;
}
#bedssi-calendar .datepicker-inline {
  width: 100%;
}
#bedssi-calendar table {
  width: 100%;
}
#bedssi-calendar .prev,
#bedssi-calendar .next {
  font-size: 24px;
  color: #ff3e30 !important;
}
#bedssi-calendar .datepicker-switch {
  font-size: 24px;
}
.calendar {
  margin-top: 30px;
  background: #ffffff;
}
.calendar .ui-datepicker-calendar {
  width: 100%;
}
.calendar .ui-datepicker-calendar thead {
  color: #42454a;
  background: #e2e2e3;
  font-size: 16px;
  font-weight: 200;
  line-height: 35px;
  border: 1px solid #afb0b3;
}
.calendar .ui-datepicker-calendar thead th {
  text-align: center;
  border-right: 1px solid #afb0b3;
}
.calendar .ui-datepicker-title {
  font-size: 20px;
  font-weight: 700;
}
.calendar .ui-datepicker a {
  text-decoration: none;
}
.calendar .ui-datepicker table {
  width: 100% !important;
}
.calendar .ui-datepicker-prev,
.calendar .ui-datepicker-next {
  font-size: 36px;
  color: #ff3e30 !important;
}
.calendar .ui-datepicker-prev:hover,
.calendar .ui-datepicker-next:hover {
  cursor: pointer;
}
.calendar .ui-datepicker-prev {
  float: left;
  margin-left: 10%;
}
.calendar .ui-datepicker-next {
  float: right;
  margin-right: 10%;
}
.calendar .ui-datepicker-next:before {
  font-family: FontAwesome;
  content: "\f105";
}
.calendar .ui-datepicker-prev:before {
  font-family: FontAwesome;
  content: "\f104";
}
.calendar .ui-datepicker-header {
  line-height: 30px;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #afb0b3;
  border-left: 1px solid #afb0b3;
  border-right: 1px solid #afb0b3;
}
.calendar .ui-datepicker tbody td {
  padding: 10px 0;
  text-align: center;
  border: 1px solid #afb0b3;
}
.calendar .ui-datepicker td span,
.calendar .ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #afb0b3;
}
.calendar .ui-datepicker-calendar .ui-state-default {
  color: #42454a;
}
.calendar .ui-datepicker-unselectable .ui-state-default {
  color: #afb0b3;
}
.calendar .ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ff3e30;
}
.calendar .ui-datepicker-calendar .ui-state-active {
  background: #f7f7f7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ff3e30;
}
.calendar-footer {
  background: #e2e2e3;
  padding: 5px 0;
  border-right: 1px solid #afb0b3;
  border-bottom: 1px solid #afb0b3;
  border-left: 1px solid #afb0b3;
}
.institutions-reviews {
  margin: 20px 0;
}
.institutions-reviews .institution-review {
  margin-bottom: 40px;
}
.institutions-reviews .bubble {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  background: #3995D1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 15px;
}
.institutions-reviews .bubble span {
  display: table;
  color: #2b2e34;
  font-weight: 600;
}
.institutions-reviews .bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 0 14px 20px;
  border-color: transparent #3995D1;
  display: block;
  width: 0;
  z-index: 1;
  right: -20px;
  top: 13px;
}
.institutions-reviews .institution-check {
  color: #ff3e30;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 1.1em;
  word-wrap: break-word;
}
.institutions-reviews .institution-check span {
  display: table;
  margin: 0 auto 5px auto;
  color: #3995d1;
  font-size: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.user-reviews img {
  border: 1px solid #afb0b3;
}
.user-reviews .user-review {
  margin: 20px 0;
}
.user-reviews .review_rating {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #e2e2e3;
}
.user-reviews .review_rating h4 {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.user-reviews .user-name {
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 5px 0;
  line-height: 15px;
}
.user-reviews .reviews-categories ul {
  padding: 0;
  margin: 0;
}
.user-reviews .reviews-categories li {
  list-style: none;
  display: inline-block;
  width: 49%;
  text-align: right;
}
.user-reviews .reviews-categories i {
  color: #49ba4a;
}
.user-reviews .bubble {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.user-reviews .bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 20px 14px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -20px;
  top: 13px;
}
.user-reviews .review-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #42454a;
}
.user-reviews .review-header span {
  display: table;
  color: #afb0b3;
}
.user-reviews .review-hoster {
  display: table;
}
.user-reviews .review-hoster .hoster-name {
  display: table-cell;
  padding: 0 10px;
  color: #49ba4a;
  font-weight: 600;
}
#post_bed .well {
  padding: 20px 40px;
}
#post_bed .well p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 20px 0;
}
#post_bed .active {
  background: #e2e2e3 !important;
  border-color: #e2e2e3 !important;
  color: #2b2e34;
}
#post_bed .bootstrap-select .caret {
  color: #ff3e30;
}
#post_bed .bootstrap-select > .btn {
  /*width:auto;*/
}
#post_bed .bootstrap-select.btn-group .dropdown-menu {
  width: auto !important;
}
#post_bed .upload_photos {
  margin-top: 20px;
}
#post_bed .upload_photos .bed_photos {
  margin: 20px 0;
  overflow: hidden;
}
#post_bed .upload_photos ul {
  padding: 0;
}
#post_bed .upload_photos li {
  list-style: none;
  display: inline-block;
  text-align: left;
  /*margin:0 2px 10px;*/
  color: #2b2e34;
  margin: 5px 0;
}
#post_bed .upload_photos .upload_img {
  color: #ff3e30 !important;
}
#post_bed .upload_photos .upload-table .btn {
  color: #2b2e34;
  border-color: #ffffff;
}
#post_bed .upload_photos .btn-bedssi-gray-15:hover {
  color: #ffffff;
}
#post_bed .upload_photos table tr,
#post_bed .upload_photos td {
  border: none;
  text-align: center;
}
#post_bed .upload_photos .table-responsive {
  border: none;
}
#post_bed .add_selection {
  margin: 30px 0;
  background: #ffffff;
  border: 2px solid #42454a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}
#post_bed .add_selection label {
  margin-right: 20px;
}
#post_bed .add_selection .radio {
  margin-top: 0;
}
#post_bed .promote_bed {
  margin: 30px 0;
  background: #ffffff;
  border: 2px solid #ff3e30;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#post_bed .promote_bed .promote_options {
  margin: 20px 0;
}
#post_bed .promote_bed .promote_options table label {
  font-weight: bold;
  /*min-width:180px;*/
  font-size: 14px;
}
#post_bed .left-title {
  text-align: left !important;
  padding: 10px;
  font-weight: bold;
  overflow: hidden;
}
#post_bed .about_room,
#post_bed .about_building {
  margin-top: 30px;
  /*.bootstrap-select > .btn{
			width:100% !important;
		}*/
}
#post_bed .includes {
  background: #ffffff;
  padding: 10px;
  border: 1px solid #afb0b3;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#post_bed .apartment_house {
  margin: 30px 0;
}
#post_bed .extra_includes,
#post_bed .rules,
#post_bed .feature_building,
#post_bed .transportation,
#post_bed .institutions_nearby,
#post_bed .amenities_near_bed {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #afb0b3;
  padding: 10px;
  margin-bottom: 30px;
  /*.btn{
			padding:0 20px;
			margin:0 10px;
		}*/
}
#post_bed .extra_includes .bootstrap-select,
#post_bed .rules .bootstrap-select,
#post_bed .feature_building .bootstrap-select,
#post_bed .transportation .bootstrap-select,
#post_bed .institutions_nearby .bootstrap-select,
#post_bed .amenities_near_bed .bootstrap-select {
  width: 15%;
  padding: 0 5px;
  margin: 0 5px;
}
#post_bed .institutions_nearby .form-control {
  width: 50%;
  display: inline;
  width: 40%;
  margin: 0 10px;
}
#post_bed .finish {
  margin: 30px 0;
}
#post_bed .room-size .bootstrap-select {
  width: 100% !important;
}
#post_bed .label-post {
  display: inline-block !important;
}
#dashboard-title {
  margin-top: 70px;
  background: #f5f5f5;
  text-transform: uppercase;
}
#dashboard-title h2 {
  font-size: 22px;
  font-weight: 700;
}
/*Dashboard styles*/
.dashboard thead {
  background: #d0eaff;
}
.dashboard .bootstrap-select .caret {
  color: #ff3e30;
}
.dashboard #new_beds,
.dashboard #new_trips,
.dashboard #new_messages,
.dashboard #bed_id {
  color: #49ba4a;
  font-weight: 600;
}
.dashboard .table > thead > tr > th {
  vertical-align: middle;
}
.dashboard td img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}
.dashboard .bed_detail_dashboard ul {
  padding: 0;
}
.dashboard .bed_detail_dashboard li {
  list-style: none;
}
.dashboard .bed_detail_dashboard .bed_name {
  color: #ff3e30;
  font-weight: bold;
}
.dashboard .bed_detail_dashboard .bed_booking_history {
  color: #ff3e30;
}
.dashboard .bed_detail_dashboard .host_name,
.dashboard .bed_detail_dashboard .bed_title {
  color: #ff3e30;
}
.dashboard .table > tbody > tr > td {
  vertical-align: middle;
}
.dashboard .table-striped > tbody > tr:nth-child(2n+1) > td,
.dashboard .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #e2e2e3;
}
.dashboard .guest_arrival ul {
  padding: 0;
}
.dashboard .guest_arrival li {
  list-style: none;
}
.dashboard .guest_arrival #new_guest {
  text-transform: uppercase;
  color: #49ba4a;
  font-weight: bold;
}
.dashboard .guest_arrival #guest_name {
  color: #ff3e30;
  font-weight: bold;
}
.dashboard .bed_status {
  text-align: center;
  text-transform: uppercase;
}
.dashboard .bed_status .dropdown-menu > li > a:hover,
.dashboard .bed_status .dropdown-menu > li > a:focus {
  background: none;
}
.dashboard .bed_status ul {
  text-align: left;
  padding: 0;
}
.dashboard .bed_status li {
  list-style: none;
}
.dashboard .comms {
  text-align: center;
}
.dashboard .comms ul {
  padding: 0;
  text-align: left;
}
.dashboard .comms li {
  list-style: none;
}
.dashboard .comms a {
  color: #ff3e30;
}
.dashboard .promo_disclosure {
  font-size: 14px;
  line-height: 10px;
}
.dashboard .checkbox label {
  font-weight: bold;
}
.dashboard .bed_actions_dashboard ul {
  padding: 0;
  text-align: left;
}
.dashboard .bed_actions_dashboard li {
  list-style: none;
  margin: 10px 0;
}
.dashboard .bed_actions_dashboard li a {
  color: #ff3e30;
}
.dashboard .bed_actions_dashboard li .btn-bedssi-red {
  color: #ffffff !important;
}
.dashboard .bed_actions_dashboard .pause_bed,
.dashboard .bed_actions_dashboard .edit_bed,
.dashboard .bed_actions_dashboard .delete_bed {
  cursor: pointer;
  color: #ff3e30;
}
.dashboard .bed_actions_dashboard i {
  margin-right: 10px;
  font-size: 16px;
}
.dashboard .paused {
  background-color: rgba(65, 69, 73, 0.8);
  background: rgba(65, 69, 73, 0.8);
}
.dashboard .bed_cancellation_policy,
.dashboard .host_name {
  color: #ff3e30;
}
.dashboard #status {
  color: #49ba4a;
}
.dashboard .booking_dates ul {
  padding: 0;
  text-align: left;
}
.dashboard .booking_dates li {
  list-style: none;
}
.dashboard .booking_dates a {
  color: #ff3e30;
}
#history .bed_thumbnail img {
  margin: 0 auto;
  display: block;
}
#history .dark-black p {
  padding: 0;
  margin: 0;
}
#history #history_detail {
  margin: 20px 0;
}
#history #history_detail .bed_receipts_invoices ul,
#history #history_detail .bed_reviews ul {
  padding: 0;
  text-align: left;
}
#history #history_detail .bed_receipts_invoices li,
#history #history_detail .bed_reviews li {
  list-style: none;
}
#history #history_detail .bed_receipts_invoices a,
#history #history_detail .bed_reviews a {
  color: #ff3e30;
}
#history #history_detail .bed_reviews i {
  font-size: 22px;
  vertical-align: middle;
  padding: 0 5px;
}
#history #history_detail .bed_reviews .arrow-right {
  color: #42454a;
}
#history #history_detail .bed_reviews .arrow-left {
  color: #49ba4a;
}
#inbox .message_status ul {
  padding: 0;
}
#inbox .message_status li {
  list-style: none;
}
#inbox .message_status .type_message {
  color: #49ba4a;
  font-weight: 600;
  margin-right: 5px;
  text-transform: uppercase;
}
#inbox .message_header .message_summary {
  color: #ff3e30;
}
#inbox .message_header .more_info {
  color: #2b2e34;
}
#inbox .message_header:hover a {
  text-decoration: none;
}
#inbox .new {
  font-weight: bold;
}
#inbox .favourite_message,
#inbox .delete_message {
  text-align: center;
  color: #ff3e30;
  font-size: 21px;
  cursor: pointer;
}
#inbox .message_summary {
  color: #ff3e30;
}
#inbox .message_detail {
  margin: 20px 0;
  color: #ff3e30;
  border: 1px solid #afb0b3;
  padding: 5px;
}
#inbox #message_subject {
  /*line-height:40px;*/
  padding-left: 10px;
}
#inbox .icon_message {
  float: left;
  padding-left: 10px;
}
#inbox .message_actions ul {
  padding: 5px 0;
  margin: 0;
  text-align: center;
}
#inbox .message_actions li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
#inbox .message_actions i {
  font-size: 18px;
  cursor: pointer;
}
#inbox .message_actions .dropdown ul {
  text-align: left !important;
  font-size: 12px !important;
}
#inbox .message_actions .dropdown i {
  color: #ff3e30;
}
#inbox #new_message .send-message {
  margin: 20px 0;
  text-align: right;
}
#inbox #message_history .msg_from {
  padding: 20px;
}
#inbox #message_history .msg_from .user_from,
#inbox #message_history .msg_from .date {
  float: right;
}
#inbox #message_history .msg_from .user_from {
  font-weight: bold;
  padding: 0 5px;
}
#inbox #message_history .msg_from_detail {
  background: #e2e2e3;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 0 10px auto;
}
#inbox #message_history .msg_from_user {
  padding: 20px;
}
#inbox #message_history .msg_from_user .user,
#inbox #message_history .msg_from_user .user_date {
  float: left;
}
#inbox #message_history .msg_from_user .user {
  font-weight: bold;
  padding: 0 5px;
}
#inbox #message_history .msg_user_detail {
  background: #d0eaff;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 0 10px auto;
}
#inbox #message_history .load_more {
  color: #ff3e30;
  cursor: pointer;
}
#bed_reviews .export {
  margin: 5px 0;
}
#bed_reviews .export a {
  color: #2b2e34;
}
#bed_reviews .bed_contact ul {
  padding: 0;
}
#bed_reviews .bed_contact li {
  list-style: none;
}
#bed_reviews .bed_contact .host_email {
  color: #ff3e30;
}
#bed_reviews .review_actions_dashboard ul {
  padding: 0;
}
#bed_reviews .review_actions_dashboard li {
  list-style: none;
}
#bed_reviews .review_actions_dashboard li a {
  padding: 10px 20px;
}
#bed_request,
#bed_payment {
  background: #d0eaff;
  padding: 20px 0;
}
#bed_request .bed_renting,
#bed_payment .bed_renting {
  text-transform: none;
  background: #ffffff;
}
#bed_request .bed_renting .bootstrap-select,
#bed_payment .bed_renting .bootstrap-select {
  width: 50%;
}
#bed_request .bed_renting .bootstrap-select .caret,
#bed_payment .bed_renting .bootstrap-select .caret {
  color: #ff3e30;
}
#bed_request .bed_image img,
#bed_payment .bed_image img {
  display: block;
  margin: 0 auto;
}
#bed_request .head,
#bed_payment .head {
  background: #42454a;
  color: #ffffff;
  padding: 10px;
}
#bed_request .bed_cancellation_policy,
#bed_payment .bed_cancellation_policy {
  color: #ff3e30;
}
#bed_request .bed_price,
#bed_payment .bed_price {
  background: #ffffff;
}
#bed_request .bed_disclosure,
#bed_payment .bed_disclosure {
  text-transform: none;
}
#bed_request .bed_disclosure a,
#bed_payment .bed_disclosure a {
  color: #ff3e30;
}
#bed_request .bed_hoster ul,
#bed_payment .bed_hoster ul {
  padding: 0;
}
#bed_request .bed_hoster li,
#bed_payment .bed_hoster li {
  list-style: none;
}
#bed_request .data,
#bed_payment .data {
  margin: 20px 0;
  padding: 10px;
}
#bed_request .data label,
#bed_payment .data label {
  display: block;
  text-transform: none;
}
#bed_request .data .bootstrap-select .caret,
#bed_payment .data .bootstrap-select .caret {
  color: #ff3e30;
}
#bed_request .request,
#bed_payment .request {
  text-transform: none;
}
#bed_request .request p,
#bed_payment .request p {
  padding: 5px;
}
#bed_request .card_expiration .bootstrap-select > .btn,
#bed_payment .card_expiration .bootstrap-select > .btn {
  width: 100%;
  float: left;
}
#bed_request .card_expiration label,
#bed_payment .card_expiration label {
  display: table !important;
}
#bed_request .card_expiration .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
#bed_payment .card_expiration .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 30% !important;
}
#bed_request #cvv,
#bed_payment #cvv {
  width: 20%;
  display: inline-block;
  margin-right: 10px;
}
#bed_request .disclosure,
#bed_payment .disclosure {
  padding: 20px;
}
#bed_request .disclosure a,
#bed_payment .disclosure a {
  color: #ff3e30;
}
#bed_request .disclosure label,
#bed_payment .disclosure label {
  font-style: italic;
}
.capitalize {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.profile-wall {
  /*.title-80:before{
		font-family: Flaticon;
		content: "\e004";
		float:left;
	}*/
}
.profile-wall .breadcrumb {
  background: #ffffff;
}
.profile-wall .person-profile {
  margin: 10px 0;
}
.profile-wall .person-profile .data {
  padding: 10px 0;
}
.profile-wall .person-profile .radio {
  margin-top: 0;
}
.profile-wall .person-profile .learn_more a {
  color: #ff3e30;
}
.profile-wall .person-profile .save {
  margin: 20px 0;
}
.profile-wall .person-profile .save .btn {
  padding: 5px 40px;
}
.profile-wall .person-profile .type-user {
  padding: 0;
  border-top: 1px solid #afb0b3;
  border-right: 1px solid #afb0b3;
  border-left: 1px solid #afb0b3;
}
.profile-wall .person-profile .type-user li {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #afb0b3;
}
.profile-wall .person-profile .type-user .active {
  background: #d0eaff;
}
.profile-wall .person-profile .type-user .inactive {
  color: #b0afb5;
}
.profile-wall .person-profile .bootstrap-select .caret {
  color: #ff3e30;
}
.profile-wall .person-profile .birthday .bootstrap-select > .btn {
  width: 100%;
  float: left;
}
.profile-wall .person-profile .birthday label {
  display: table !important;
}
.profile-wall .person-profile .birthday .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 30% !important;
}
.profile-wall .person-profile .verify {
  overflow: hidden;
}
.profile-wall .person-profile .verify input {
  width: 80%;
}
.profile-wall .btn-bedssi-dark-gray:hover {
  cursor: default;
  color: #ffffff;
}
.profile-wall .btn-bedssi-green:hover {
  cursor: default;
  color: #ffffff;
}
.profile-wall .about,
.profile-wall .profile_photo {
  margin-top: 20px;
}
.profile-wall .about p,
.profile-wall .profile_photo p {
  margin-top: 20px;
}
.profile-wall .about textarea,
.profile-wall .profile_photo textarea {
  margin-top: 20px;
}
.profile-wall .upload_photos {
  margin-top: 20px;
}
.profile-wall .upload_photos ul {
  padding: 0;
}
.profile-wall .upload_photos li {
  list-style: none;
  display: inline-block;
  text-align: left;
  margin: 0 2px 10px;
}
.profile-wall .upload_photos .upload_img {
  color: #ff3e30 !important;
}
.profile-wall .upload_photos .btn-bedssi-gray-15:hover {
  color: #ffffff;
}
.profile-wall .spread {
  margin-top: 20px;
}
.profile-wall .spread p {
  margin-top: 20px;
}
.profile-wall .spread .table {
  margin-bottom: 0;
}
.profile-wall .spread .table td,
.profile-wall .spread .table tr {
  vertical-align: middle;
  border: none;
}
.profile-wall .reminders {
  margin-top: 20px;
}
.profile-wall .reminders .form-group {
  border: 1px solid #b0afb5;
  padding: 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.profile-wall .reminders .form-group .checkbox {
  margin: 5px 10px;
}
.profile-wall .reminders .form-group .checkbox label {
  display: table;
}
.profile-wall .section-title {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.profile-wall .lock-green {
  width: 50px;
  height: 33px;
  background: #49ba4a;
  display: inline-table;
}
.profile-wall .social_verification .table {
  margin-bottom: 0;
}
.profile-wall .social_verification .table td,
.profile-wall .social_verification .table tr {
  vertical-align: middle;
}
.profile-wall .social_verification .table td .btn {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.profile-wall .tags {
  float: right;
}
.profile-wall .tags ul {
  padding: 0;
  margin: 0 5px;
}
.profile-wall .tags li {
  list-style: none;
  display: inline-block;
}
/*Home Listing Slider*/
#listing-slider {
  background: #122a3a;
  clear: both;
}
.homepage-listing-carousel .listing img {
  max-width: 35% !important;
  display: inline-block;
  margin-right: 10px;
}
.homepage-listing-carousel .listing-info {
  color: #ffffff;
}
.homepage-listing-carousel .listing-info h4 {
  color: #ffffff;
  margin: 0;
  font-weight: bold;
}
.homepage-listing-carousel .listing-info a {
  color: #54b8a0;
}
.homepage-listing-carousel .listing-info span {
  display: block;
  color: #3995d1;
  font-size: 22px;
  margin: 12px 0;
}
.homepage-listing-carousel .listing-info .host-slider {
  line-height: 3em;
  padding: 10px 0;
}
.homepage-listing-carousel .listing-info .host-slider img {
  width: 45px;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.homepage-listing-carousel .item {
  background: #1c3843;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}
.homepage-listing-carousel .owl-item {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.homepage-listing-carousel .owl-item:hover {
  opacity: 1.0;
}
.homepage-listing-carousel .owl-prev {
  position: absolute;
  top: 40%;
  left: 0;
}
.homepage-listing-carousel .owl-next {
  position: absolute;
  top: 40%;
  right: 0;
}
.homepage-listing-carousel .owl-prev,
.homepage-listing-carousel .owl-next {
  color: #ffffff;
  font-size: 21px;
  color: #b0afb5;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.homepage-listing-carousel .owl-prev:after {
  font-family: FontAwesome;
  content: "\f053";
}
.homepage-listing-carousel .owl-next:after {
  font-family: FontAwesome;
  content: "\f054";
}
.homepage-listing-carousel .center {
  opacity: 1;
}
.homepage-listing-carousel:hover .owl-prev,
.homepage-listing-carousel:hover .owl-next {
  opacity: 1;
}
.bed-full-description .reserve-bed-icons ul {
  text-align: left;
}
.bed-full-description .report i {
  background: none;
  color: #ff3e30;
}
.bed-full-description .report_active i {
  color: #ffffff;
}
.white-container {
  background: #ffffff;
  border: 1px solid #e2e2e3;
  padding: 20px;
}
#contact .well a {
  color: #ff3e30;
}
#contact .well .social-media {
  padding: 0;
}
#contact .bootstrap-select {
  width: 100%;
}
#contact .bootstrap-select .caret {
  color: #ff3e30;
}
/*One Page Modules*/
#one-page-modules {
  margin-top: 30px;
}
#photo-module {
  margin-bottom: 20px;
}
#photo-module .item {
  position: relative;
}
#photo-module .slider-text-caption {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
#photo-module .slider-text-caption .text-caption {
  padding: 10% 0;
}
#photo-module .slider-text-caption .text-caption h2 {
  font-weight: 600;
  font-size: 45px;
}
#links-module {
  padding: 20px 0;
  background: #f5f5f5;
}
#links-module .link-module {
  margin: 50px;
  text-align: center;
}
#links-module .link-module .icon-wrap i {
  font-size: 45px;
}
#pricing-tables-module {
  padding: 20px 0;
}
#pricing-tables-module .panel-default,
#pricing-tables-module .panel-black {
  text-align: center;
}
#pricing-tables-module .panel-heading {
  border-bottom: 0;
}
#pricing-tables-module .panel-heading .price {
  font-weight: 600;
  font-size: 18px;
}
#pricing-tables-module .panel-body {
  padding: 0;
}
#pricing-tables-module .panel-body .table {
  margin-bottom: 0;
}
#video-module {
  padding: 20px 0;
}
#video-module .video-callout {
  position: relative;
  background: url(../img/photo-module/slide5.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#video-module .overlay {
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
}
#video-module .video-text {
  padding: 90px 70px;
  text-align: center;
  color: #ffffff;
}
#video-module .video-text h2 {
  font-size: 45px;
}
#video-module .video-text p {
  font-size: 18px;
}
#video-module .video-text .video-icon {
  font-size: 32px;
  cursor: pointer;
}
#video-module .video-text a {
  color: #ffffff !important;
}
#our-team-module {
  padding: 20px 0;
}
#our-team-module .team-mamber img {
  display: block;
  margin: 0 auto;
}
#our-team-module .team-mamber .team-member-name {
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}
#our-team-module .team-mamber .team-member-title {
  text-align: center;
  font-weight: 600;
  color: #afb0b3;
}
/*Steps*/
.step-title {
  min-height: 20px;
  float: left;
  border-radius: 0;
}
.next-button,
.submit-button,
.back-button {
  float: right;
  margin: 3px;
}
@media (max-width: 600px) {
  .step-content {
    margin-top: 10px;
  }
}
#wizard .center-block .step-active {
  background: #ff3e30;
  color: #ffffff;
}
.faq-categories {
  padding: 0;
  margin: 0;
}
@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top: 45px;
  }
  #sidebar.affix {
    position: fixed;
    top: 50px;
  }
}
.affix,
.affix-top {
  position: static;
}
#help {
  margin-top: 0;
}
#help .faqs {
  padding: 0;
}
#help .faqs ul {
  padding: 0;
}
#help .faqs li {
  list-style: none;
}
#help .faqs .faq-group h3 {
  font-weight: 700;
}
#help .faqs .faq-group ul {
  padding: 0 30px;
}
#help .faqs .faq-group li {
  list-style: outside;
}
#help .panel-heading span {
  margin-top: -20px;
  font-size: 15px;
  color: #ff3e30;
}
#help .clickable {
  cursor: pointer;
}
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 1;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  font-family: FontAwesome;
  z-index: 999999;
  background: #ff3e30;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.scrollup:hover {
  background: #000;
}
/*Media queries*/
/* All Smartphones in portrait ----------- */
@media only screen and (max-width: 479px) {
  .search-home {
    width: 90% !important;
    margin: 0 auto;
  }
  .hidden-xxs {
    display: none;
  }
  .visible-xxs {
    display: block !important;
  }
  #intro {
    margin-top: 70px;
  }
  .main_search {
    margin-top: 2% !important;
  }
  .main-menu {
    float: left !important;
    margin-left: 5% !important;
  }
  #header .logo {
    margin-bottom: 0 !important;
  }
  #header .search {
    margin-top: 0 !important;
  }
  #header .logo img {
    display: inherit !important;
    margin-left: 18% !important;
    margin-top: 5px;
  }
  .logo-mobile {
    z-index: 999999;
  }
  #custom-search-form {
    float: right !important;
  }
  #results {
    margin-top: 70px !important;
  }
  .new_filter {
    margin-top: 0 !important;
  }
  .user-thumbnails {
    float: none !important;
  }
  .horizontal-filter .col-xs-6 {
    width: 100%;
  }
  .header-section .col-xs-6 {
    width: 100%;
  }
  .header-section .col-xs-6 .bed-id {
    text-align: left;
  }
  .header-section .col-xs-6 .bed-id span {
    padding: 0;
    margin: 0;
  }
  .header-section .col-xs-6 .user-ratings {
    text-align: left;
  }
  .top-bed small {
    display: table !important;
  }
  .top-bed h3 {
    padding: 5px !important;
  }
  .top-bed .bed-price-listed {
    font-size: 14px !important;
  }
  .top-bed .top-icons {
    margin: 20px !important;
  }
  .reviews-categories li {
    width: 100% !important;
    text-align: left !important;
  }
  .reviews-categories li span {
    float: right !important;
  }
  .reserve-bed-icons {
    margin: 0;
  }
  .reserve-bed-icons ul {
    margin: 0;
    padding: 0;
  }
  .reserve-bed-icons li {
    margin: 0 !important;
  }
  .transportation .bootstrap-select,
  .institutions_nearby .bootstrap-select,
  .extra_includes .bootstrap-select {
    width: 20% !important;
  }
  .institutions_nearby .form-control,
  .amenities_near_bed .form-control {
    width: 96% !important;
    margin: 0 0 0 13px !important;
  }
  .institutions_nearby .bootstrap-select span,
  .amenities_near_bed .bootstrap-select span {
    margin: inherit !important;
  }
  .institutions_nearby .label-post,
  .amenities_near_bed .label-post {
    /*display:inline-block !important;*/
    margin-left: 5%;
  }
  .institutions_nearby .bootstrap-select,
  .amenities_near_bed .bootstrap-select {
    width: 100% !important;
  }
  #photo-module .slider-text-caption .text-caption {
    padding: 10% 0;
  }
  #photo-module .slider-text-caption .text-caption h2 {
    font-weight: 600;
    font-size: 24px;
  }
  footer .col-xs-6 {
    width: 100% !important;
  }
  footer .footer-column .selects li {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 100% !important;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #navbar-brand-centered form {
    padding: 10px 40px;
  }
  .institutions-reviews .institution-review {
    margin-bottom: 30px !important;
  }
  .institutions-reviews .bubble:after {
    content: '' !important;
    position: absolute !important;
    border-style: solid !important;
    border-width: 15px 15px 0 !important;
    border-color: #3995d1 transparent !important;
    display: block !important;
    width: 0 !important;
    z-index: 1 !important;
    bottom: 0px !important;
    left: 45% !important;
    top: 100%;
  }
  .reviews-categories li {
    width: 100% !important;
    text-align: left !important;
  }
  .reviews-categories li span {
    float: right !important;
  }
  .filter-dates {
    margin-top: 20px;
  }
  .top-bed small {
    display: table !important;
  }
  .top-bed h3 {
    padding: 5px !important;
  }
  .top-bed .bed-price-listed {
    font-size: 21px !important;
  }
}
@media (max-width: 767px) {
  .dark-black {
    margin: 10px 0;
  }
  #header .logo {
    width: 20%;
    /*margin-bottom:40px;*/
    margin-left: 15%;
    float: left;
  }
  #header .main-menu {
    margin-top: -40px;
  }
  #header .search {
    margin-top: 0 !important;
  }
  #header #custom-search-form {
    float: right;
    margin-top: -40px;
  }
  #header .register {
    clear: both;
    margin-top: 20px;
    text-align: center;
  }
  #header .register li {
    margin: 0 !important;
  }
  #header .registration {
    width: 100%;
    float: none;
    text-align: center;
    margin: 10px 0 30px;
  }
  .horizontal-filter {
    /*margin-top:15px;*/
  }
  .horizontal-filter .right-filters {
    position: inherit;
  }
  .new_filter {
    margin-top: 15px;
  }
  .new_filter .navbar-nav .open .dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    min-width: 160px;
    padding-right: 10px;
  }
  .main-menu {
    float: left !important;
    margin-left: 5% !important;
  }
  #intro .main_search h1 {
    font-size: 40px;
  }
  #contact {
    margin-top: 100px;
  }
  .top-bed small {
    display: table !important;
  }
  .top-bed h3 {
    padding: 5px !important;
  }
  .top-bed .bed-price-listed {
    font-size: 25px !important;
  }
  #results {
    margin-top: 55px;
    /*.list-view{
			margin:70px;
		}*/
  }
  #results .box-result img {
    display: block;
  }
  .list-view {
    margin-top: 80px !important;
  }
  #intro {
    margin-top: 70px;
  }
  #user_profile,
  #post_bed,
  #dashboard-title {
    margin-top: 100px;
  }
  .user-thumbnails {
    float: none !important;
  }
  #login {
    margin-top: 150px;
  }
  .passwords li {
    display: inline !important;
  }
  .right-filters {
    position: absolute;
    right: 0;
    top: 0;
  }
  /*.reviews-categories{
		li{
			font-size:12px;
		}
	}*/
  .institutions-reviews .institution-review {
    margin-bottom: 30px !important;
  }
  .institutions-reviews .bubble:after {
    content: '' !important;
    position: absolute !important;
    border-style: solid !important;
    border-width: 15px 15px 0 !important;
    border-color: #3995d1 transparent !important;
    display: block !important;
    width: 0 !important;
    z-index: 1 !important;
    bottom: 0px !important;
    left: 45% !important;
    top: 100%;
  }
  .header-section .bed-name {
    font-size: 25px;
  }
  .user-ratings i {
    font-size: 16px;
  }
  .reviews-categories li {
    width: 100% !important;
    text-align: left !important;
  }
  .reviews-categories li span {
    float: right !important;
  }
  footer .col-xs-6 {
    width: 50%;
  }
  footer .bootstrap-select {
    /*width:30% !important;*/
    display: block;
  }
  footer .footer-column .selects li {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 45%;
  }
}
@media (min-width: 768px) {
  #header .register {
    clear: both;
    margin-top: -40px;
    text-align: center;
  }
  .main-menu {
    float: left !important;
    margin-left: 10% !important;
  }
  .search-home {
    width: 60% !important;
    margin: 0 auto;
  }
  /*#results .box-result .bed-action li{
		margin: 0 8px;
	}*/
}
@media (min-width: 992px) {
  .search-home {
    width: 30% !important;
    margin: 0 auto;
  }
  .main-menu {
    float: left !important;
    margin-left: 90% !important;
  }
}
@media (min-width: 1200px) {
  .search-home {
    width: 30% !important;
    margin: 0 auto;
  }
  .main-menu {
    float: left !important;
    margin-left: 77% !important;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .search-home {
    width: 30% !important;
    margin: 0 auto;
  }
  .main-menu {
    float: left !important;
    margin-left: 77% !important;
  }
}
