.fondoceldadesign{
    height: 115px;
    width: 100%;
    float: left;
    clear:both;
    left: auto;
    right: auto;
}

.fondoceldaicon{
    height: 119px;
    width: 100%;
    float: left;
    clear:both;
}

.fondoceldacharacter{
    height: 135px;
    width: 100%;
    float: left;
    clear:both;
}

input[type="radio"]{ display: none; }
 
input[type="radio"] + label span{
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url(./unchecked.png) left top no-repeat;
    margin: -1px 4px 0 0;
    vertical-align: baseline !important;
    cursor:pointer;
    width: 40%;
}
 
input[type="radio"]:checked + label span{
    background: url(./checked.png) left top no-repeat;
    width: 29px;
    height: 29px;
    margin: -1px 4px 0 0;
    vertical-align: baseline !important;
    cursor:pointer;
    width: 40%;  
}

input[type="checkbox"]{ display: none; }
 
input[type="checkbox"] + label span{
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url(./unchecked.png) left top no-repeat;
    margin: -1px 4px 0 0;
    vertical-align: baseline !important;
    cursor:pointer;
    width: 40%;
}
 
input[type="checkbox"]:checked + label span{
    background: url(./checked.png) left top no-repeat;
    width: 29px;
    height: 29px;
    margin: -1px 4px 0 0;
    vertical-align: baseline !important;
    cursor:pointer;
    width: 40%;  
}
.celda {
    width: 100%;
    float: left;
    min-height: 82px;
    padding-left: 2.5%;
    clear:both;
}

.formulario{
    border: 2px solid #000000;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: #969696;
    color:#000000;
    font-size: 20px;
}

.grupo{
    border-right: 1px dotted #ffffff;
    min-height: 375px;
}

.grupo2{
    min-height: 375px;
}

.grupo3{
    border-right: 1px dotted #ffffff;
    min-height: 170px;
}

.grupo4{
    min-height: 170px;
}

.icono{
    text-align: center;
    font-size:60px;
    color:#7BC1D8;
    padding-top:20px;
    padding-bottom:20px;
}

.mensaje{
    font-size: 14px !important; 
    padding-right: 15%;
    padding-left: 15%;
    color: #000000;
    text-align: justify;
}

.form_component{
    background-color:#E5854E  !important;
    border-radius:5px !important; 
    color:#ffffff !important;
    font-size: 14px !important;
    vertical-align: middle;
    min-height: 35px;
    border: 1px solid transparent  !important;
    width: 100% !important;
}

*::-webkit-input-placeholder { color: #ffffff !important;font-weight: bold !important; } /* WebKit */
*:-moz-placeholder { color: #ffffff !important;font-weight: bold !important; } /* Firefox 18- */
*::-moz-placeholder { color: #ffffff !important;font-weight: bold !important; } /* Firefox 19+ */
*:-ms-input-placeholder { color: #ffffff !important;font-weight: bold !important; }

.eliminar_fichero{
    font-size: 14px !important;
          
}

a:hover {
    color: #7BC1D8 !important;
    font-weight: bold !important;
} 

.span{
    padding-bottom: 10px;
    padding-top: 10px;
}

.enviar:hover{
    color: #000000 !important;
}
